.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.title.slide h2 {
  font-size: 1.66em;
  line-height: 1.2;
}

.slide p {
  margin-left: 0;
}

.slide table th, .slide table td {
  text-align: right;
  padding-right: 45px;
}
.slide table th[colspan] {
  text-align: center;
  color: #453688 !important;
}
.slide thead th {
  font-style: normal !important;
}
.slide tbody th {
  color: #453688 !important;
}
.slide tbody:not(.tight) tr:last-child th {
  padding-bottom: 30px;
}
.slide tfoot {
  font-weight: bold;
  color: #453688;
}
table.alternate tr > *:nth-child(2n) {
  color: #999999;
}
